@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

body {
	/* font-family: "Red Hat Display", sans-serif; */
	/* font-family: "Noto Serif Variable", serif; */
	font-family: "Noto Sans Variable", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 300;
	@apply bg-white dark:bg-black text-black dark:text-white;

	i {
		font-family: "Noto Serif Variable", serif;
		font-optical-sizing: auto;
		font-style: italic;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Noto Sans Display Variable", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 200;

	i {
		font-family: "Noto Serif Display Variable", serif;
		font-optical-sizing: auto;
		font-style: italic;
		font-weight: 400;
	}
}

.sans {
	font-family: "Noto Sans Variable", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.serif {
	font-family: "Noto Serif Variable", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.sans-display {
	font-family: "Noto Sans Display Variable", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.serif-display {
	font-family: "Noto Serif Display Variable", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 300;
}

.halfcontainer {
	width: 100%;

	@media (min-width: 640px) {
		width: 100%;
	}

	@media (min-width: 768px) {
		width: 100%;
	}

	@media (min-width: 1024px) {
		width: 512px;
	}

	@media (min-width: 1280px) {
		width: 640px;
	}

	@media (min-width: 1536px) {
		width: 768px;
	}
}

/* Hide default cursor on pointer elements when custom cursor is active */
body[style*="cursor: none"] .cursor-pointer {
	cursor: none !important;
}

.circle-reveal {
	-webkit-mask: radial-gradient(#000 70%, #0000 71%) content-box 50% / var(--_s, 150% 150%) no-repeat, linear-gradient(#000 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	transition: 1s;
}

.circle-reveal.open {
	--_s: 0% 0%;
}

.stripe-reveal {
	--s: 100px;
	/* control the size of the stripes */
	--g: / var(--s) var(--s) content-box linear-gradient(90deg, #000 50%, #0000 0);
	-webkit-mask: radial-gradient(#000 0 0), 0 0 var(--g), calc(var(--s) / 2) 0 var(--g);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	transition: 1s;
}

.stripe-reveal.open {
	-webkit-mask-position: 0 0;
}

.codepen-embed {
	height: 300px;
	width: 100%;
	padding: 2rem 0;
}

.babylonjs-embed {
	height: 500px;
	width: 100%;
	padding: 2rem 0;
}

pre code.hljs {
	border-radius: 0.5rem;
}

#scene-explorer-host,
#inspector-host {
	z-index: 99999;
}